.header {
    background-image: url('/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    border-radius: 10px;
}

ion-icon {
    vertical-align: middle;
    margin-bottom: 3px;
}

.text-header {
    margin-left: 25px;
    color: white !important;
}

.text-header h1 {
    font-size: 70px;
}

.text-header img {
    width: 75px;
    margin-bottom: 10px;
}

.current-weather {
    margin-left: 7px;
}

.data-container {
    text-align: center;
    border-radius: 5px;
    background-color: rgb(54, 54, 54);
    color: white;
    width: 200px;
    height: 165px;
    transition: all 0.4s ease-in-out;
}

.data-container:hover {
    transition: all 0.4s ease-in-out;
    box-shadow: 5px 13px 9px -4px rgba(0,0,0,0.255);
}

.data-container ion-icon {
    font-size: 60px;
}

.tomorrow-weather {
    margin-left: 7px;
}